@page "/DownloadSongs"
@using BeatSaberSongLoaderBlazor.Data
@inject BeatSaverScraperService BeatSaverScraper
@inject SongsLoaderService SongsLoader
@inject IJSRuntime jsRuntime
@inject IServiceProvider services

    <body>
        <ProgressBar></ProgressBar>

        <div>
            <h1>Download Songs</h1>


            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search" onkeyup="@KeyUp" bind="@SearchInput" aria-label="SearchInput" />
                <div class="input-group-append">
                    <button class="btn btn-primary" onclick="@Search">Search</button>
                </div>
            </div>
            <button type="button" class="btn btn-primary btn-lg btn-block" onclick="@(e => GetSongFromURL("https://beatsaver.com/browse/newest"))">Newest</button>
            <button type="button" class="btn btn-primary btn-lg btn-block" onclick="@(e => GetSongFromURL("https://beatsaver.com/browse/downloads"))">Top Downloads</button>
            <button type="button" class="btn btn-primary btn-lg btn-block" onclick="@(e => GetSongFromURL("https://beatsaver.com/browse/played"))">Most Played</button>
            <button type="button" class="btn btn-primary btn-lg btn-block" onclick="@(e => DownloadAll())">Download All</button>

            <BeatSaverList Items="@BeatSaberSongs" />
        </div>
    </body>



@functions {

    string SearchInput;
    List<BeatSaverScraperService.BeatSaverSong> BeatSaberSongs;
    public bool RunScrollCheck = false;

    protected override async Task OnInitAsync()
    {
        BeatSaberSongs = BeatSaverScraper.BeatSaverSongsList;

        await BeatSaverScraper.GetSongsFromURL("https://beatsaver.com/browse/newest");

        RunScrollCheck = false;
    }

    protected override void OnAfterRender()
    {
        RunScrollCheck = true;
        LoadMoreSongsFomJS();
    }

    private async Task Search()
    {
        await BeatSaverScraper.Search(SearchInput);
        base.Invoke(StateHasChanged);
    }

    private async Task KeyUp(UIKeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await BeatSaverScraper.Search(SearchInput);
            base.Invoke(StateHasChanged);
        }
    }

    private async Task GetSongFromURL(string URL)
    {
        await BeatSaverScraper.GetSongsFromURL(URL);
        base.Invoke(StateHasChanged);
        await jsRuntime.InvokeAsync<bool>("ResetScroll");
    }

    public async Task DownloadAll()
    {
        await BeatSaverScraper.DownloadAllSongs();
        base.Invoke(StateHasChanged);
        await jsRuntime.InvokeAsync<bool>("ResetScroll");
    }


    public async Task LoadMoreSongsFomJS()
    {
        while (RunScrollCheck)
        {
            var Test = await jsRuntime.InvokeAsync<bool>("CheckScroll");

            if (Test)
            {
                await BeatSaverScraper.LoadMoreSongs();
                base.Invoke(StateHasChanged);
            }

            await Task.Delay(100);
        }
    }
}


