@page "/DownloadSongs"
@using BeatSaberSongLoaderBlazor.Data
@inject BeatSaverScraperService BeatSaverScraper
@inject SongsLoaderService SongsLoader
@inject IJSRuntime jsRuntime
@inject IServiceProvider services

    <body>
        <ProgressBar></ProgressBar>

        <div>
            <h1>Download Songs</h1>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search" onkeyup="@KeyUp" bind="@SearchInput" aria-label="SearchInput" />
                <div class="input-group-append">
                    <button class="btn btn-primary" onclick="@Search">Search</button>
                </div>
            </div>
            <button type="button" class="btn btn-primary btn-lg btn-block" onclick="@(e => GetSongFromURL("https://beatsaver.com/browse/newest"))">Newest</button>
            <button type="button" class="btn btn-primary btn-lg btn-block" onclick="@(e => GetSongFromURL("https://beatsaver.com/browse/downloads"))">Top Downloads</button>
            <button type="button" class="btn btn-primary btn-lg btn-block" onclick="@(e => GetSongFromURL("https://beatsaver.com/browse/played"))">Most Played</button>
            <button type="button" class="btn btn-primary btn-lg btn-block" onclick="@(e => DownloadAll())">Download All</button>
            <BeatSaverList Items="@BeatSaberSongs" />
            <button type="button" class="btn btn-primary btn-lg btn-block" onclick="@(e => LoadMoreSongs())">Load More Songs</button>
            <br/>
        </div>
    </body>


@functions {

    string SearchInput;
    List<BeatSaverScraperService.BeatSaverSong> BeatSaberSongs;

    protected override async Task OnInitAsync()
    {
        BeatSaberSongs = BeatSaverScraper.BeatSaverSongsList;

        await BeatSaverScraper.GetSongsFromURL("https://beatsaver.com/browse/newest");
    }

    private async Task Search()
    {
        await BeatSaverScraper.Search(SearchInput);
        await base.Invoke(StateHasChanged);
    }

    private async Task KeyUp(UIKeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await BeatSaverScraper.Search(SearchInput);
            await base.Invoke(StateHasChanged);
        }
    }

    private async Task GetSongFromURL(string URL)
    {
        await BeatSaverScraper.GetSongsFromURL(URL);
        await base.Invoke(StateHasChanged);
    }

    public async Task DownloadAll()
    {
        await BeatSaverScraper.DownloadAllSongs();
        await base.Invoke(StateHasChanged);
    }


    public async Task LoadMoreSongs()
    {
      await BeatSaverScraper.LoadMoreSongs();
      await base.Invoke(StateHasChanged);
    }
}


